include src/*
include pygeos/lib/*.py pygeos/lib/*.pyx pygeos/lib/*.pxd
include versioneer.py
include pygeos/_version.py
include pygeos/*.dll
include LICENSE
include pyproject.toml
exclude MANIFEST.in
